@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: rgba(25, 118, 210,1);
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a72;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 21.3333333333px;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

body {
  overflow-x: hidden;
  background: rgb(128, 185, 228);
  background: linear-gradient(180deg, rgb(128, 185, 228) 1%, rgb(39, 137, 202) 2%, rgb(4, 95, 164) 5%, rgb(0, 0, 0) 11%);
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 300;
  line-height: 1.2;
}

.display-1 {
  font-size: calc(3rem + 4vw);
  font-weight: 500;
}

.display-2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #064273;
  max-width: 700px;
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
}

.display-5 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  max-width: 800px;
}

.display-6 {
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  max-width: 700px;
}

@media (min-width: 992px) {
  .display-1 {
    font-size: calc(5rem + 5vw);
  }
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: calc(5rem + 5vw);
  }
  .display-2 {
    font-size: 2rem;
  }
  .display-3 {
    font-size: 4rem;
  }
  .display-4 {
    font-size: 3.5rem;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(33, 37, 41,1);
}

img {
  max-width: 100%;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 110px;
  padding-left: 62px;
}
@media screen and (min-width: 992px) {
  .container {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1480px;
  }
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1600px) {
  .container-fluid {
    max-width: calc(1500px + 1.5rem);
  }
}

.border {
  border: 1px solid rgba(33, 37, 41,1);
}
.border-primary {
  border-color: rgba(25, 118, 210,1);
}

.text-primary {
  color: rgba(25, 118, 210,1) !important;
}
.text-secondary {
  color: rgba(108, 117, 125,1) !important;
}
.text-success {
  color: rgba(0, 255, 140,1) !important;
}
.text-danger {
  color: rgba(211, 47, 47,1) !important;
}
.text-dark {
  color: rgba(33, 37, 41,1) !important;
}
.text-light {
  color: rgba(248, 249, 250,1) !important;
}

.bg-dark {
  background-color: rgba(33, 37, 41,1);
}
.bg-light {
  background-color: rgba(248, 249, 250,1);
}
.bg-primary {
  background-color: rgba(25, 118, 210,1);
}
.bg-secondary {
  background: rgba(108, 117, 125,1);
}

.rounded-circle {
  padding: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-pill {
  border-radius: 50rem !important;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
  width: 100%;
}
.d-flex {
  display: flex !important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.content {
  margin: 0 auto;
  max-width: 800px;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}
.content-center {
  text-align: center;
}

.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hero > .container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero-title {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  min-height: 40vh;
  font-family: Nunito;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  width: 100%;
}
.hero-title .row-wrapper {
  position: relative;
}
.hero-title .row {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
.hero-title .row-1 {
  color: transparent;
  color: rgb(128, 185, 228);
  -webkit-text-stroke: 2px #fff;
}
.hero-title .row-2 {
  animation: wave 4s ease-in-out infinite;
}
@keyframes wave {
  /* start point */
  0%, 100% {
    -webkit-clip-path: polygon(0% 46%, 17% 45%, 34% 50%, 56% 61%, 69% 62%, 86% 60%, 100% 51%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 46%, 17% 45%, 34% 50%, 56% 61%, 69% 62%, 86% 60%, 100% 51%, 100% 100%, 0% 100%);
  }
  /* Mid point */
  50% {
    -webkit-clip-path: polygon(0% 59%, 16% 64%, 33% 65%, 52% 61%, 70% 52%, 85% 47%, 100% 48%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 59%, 16% 64%, 33% 65%, 52% 61%, 70% 52%, 85% 47%, 100% 48%, 100% 100%, 0% 100%);
  }
}
.hero-title span {
  display: inline-block;
  padding: 0 10px;
}
.hero-description {
  max-width: 260px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem !important;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .hero-description {
    max-width: none;
  }
}
.hero-bottom {
  margin-bottom: 2rem;
  position: relative;
}
.hero-bottom .image-group {
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.hero-bottom .image-group:hover img {
  transform: translateY(5px);
}
.hero-bottom img {
  width: 20px;
  transition: all 0.3s ease;
}
.hero-bottom img:first-of-type {
  margin-bottom: -11px;
}
.hero .ship {
  position: relative;
  width: 100%;
  max-width: 900px;
  display: block;
  margin-right: auto;
  display: none;
}
.hero .scroll {
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 768px) {
  .hero .scroll {
    right: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .hero .scroll {
    right: 5%;
  }
}
.hero .scroll .distance-counter {
  color: #fff;
  position: absolute;
  top: -50px;
  right: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  line-height: 1;
  font-size: 0.8rem;
  min-width: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero .scroll .distance-counter {
    top: -80px;
    min-width: 110px;
    font-size: 1.3rem;
  }
}
.hero .scroll .image-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  transform: rotateY(180deg);
  width: 100%;
  border: none;
}
.hero .scroll .image-wrapper:before {
  display: none;
}
.hero .scroll .image-wrapper img {
  position: absolute;
  width: 100%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .scroll .image-wrapper img:first-of-type {
  top: 0;
}
.hero .scroll .image-wrapper img:last-of-type {
  bottom: 0;
}
.hero .scroll-level-count {
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.hero .scroll .level-zone-name {
  width: 100px;
  text-transform: capitalize;
}
.hero .scroll-column-1 {
  display: flex;
  margin-right: 1.5rem;
  font-size: 0;
  pointer-events: auto;
}
.hero .scroll-column-1 .arrow {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.hero .scroll-column-1 .arrow:hover svg path {
  fill: rgba(0, 255, 140,1);
}
.hero .scroll-column-1 .arrow-left {
  transform: rotateZ(180deg);
}
.hero .scroll-column-1 .arrow svg {
  width: 1.3rem;
  transition: transform 0.3s ease;
}
.hero .scroll-column-1 .arrow svg path {
  fill: rgba(33, 37, 41,1);
  transition: fill 0.3s ease;
}
.hero .scroll-column-2 {
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  font-size: fs(sm);
}
.hero .scroll-column-2 b {
  font-size: fs(lg);
  transition: opacity 0.3s ease;
  color: #fff;
  font-weight: 400;
}
.hero .scroll-column-2 span {
  color: #fff;
  font-weight: 400;
}
.hero .scroll .btns-group {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  gap: 5px;
  pointer-events: auto;
}
.hero .scroll .anchor-btn {
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hero .scroll .anchor-btn .startIcon {
  display: block;
}
.hero .scroll .anchor-btn img {
  height: 15px;
}
.hero .scroll-progress {
  width: 0.3rem;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  height: 50vh;
  background-color: rgba(248, 249, 250,1);
  position: relative;
  margin: 0 auto 0.5rem;
  background-color: #000;
  background: linear-gradient(180deg, rgb(128, 185, 228) 1%, rgb(39, 137, 202) 2%, rgb(4, 95, 164) 5%, rgb(0, 0, 0) 11%);
}
.hero .scroll-progress .layers {
  position: absolute;
  height: 100%;
  right: -6px;
}
.hero .scroll-progress .layers .layer {
  position: absolute;
  left: 10px;
  font-size: 0.5rem;
  width: 10px;
  height: 1px;
  transform: translatey(-50%);
  height: 25px;
  color: rgba(0, 255, 140,1);
  display: flex;
  align-items: center;
}
.hero .scroll-progress .layers .layer:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 7px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(-50%) translateX(-10px);
}
@media screen and (min-width: 768px) {
  .hero .scroll-progress .layers .layer {
    font-size: 0.8rem;
  }
}
.hero .scroll-progress .layers .layer-epipelagic {
  top: 2%;
}
.hero .scroll-progress .layers .layer-mesopelagic {
  top: 9%;
}
.hero .scroll-progress .layers .layer-bathypelagic {
  top: 36%;
}
.hero .scroll-progress .layers .layer-abyssopelagic {
  top: 55%;
}
.hero .scroll-progress .layers .layer-hadalpelagic {
  top: 100%;
}
.hero .scroll-progress-bar {
  height: 30%;
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, height 1s ease-out;
}
.hero .scroll-progress-images .image-1 {
  opacity: 0;
}
.hero .scroll-progress-images .image-2 {
  opacity: 0;
}
.hero .scroll-progress-images .image-3 {
  opacity: 0;
}
.hero .scroll-progress-image {
  position: absolute;
  left: -45px;
  height: 30px;
  width: 30px;
  bottom: -15px;
  transition: opacity 1s ease;
}
.hero .scroll-progress-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding: 4rem 0;
  color: rgba(248, 249, 250,1);
  min-height: 300px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn-sm {
  font-size: 0.8125rem;
  padding: 4px 10px;
}
.btn-lg {
  font-size: 0.9375rem;
  padding: 8px 22px;
}
.btn-block {
  width: 100%;
}
.btn.disabled, .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn-primary, .btn-warning, .btn-success, .btn-secondary, .btn-danger, .btn-light {
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.btn-primary:hover, .btn-warning:hover, .btn-success:hover, .btn-secondary:hover, .btn-danger:hover, .btn-light:hover {
  text-decoration: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.btn-primary:active, .btn-primary.active, .btn-warning:active, .btn-warning.active, .btn-success:active, .btn-success.active, .btn-secondary:active, .btn-secondary.active, .btn-danger:active, .btn-danger.active, .btn-light:active, .btn-light.active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.btn-primary:active span.ripple, .btn-primary.active span.ripple, .btn-warning:active span.ripple, .btn-warning.active span.ripple, .btn-success:active span.ripple, .btn-success.active span.ripple, .btn-secondary:active span.ripple, .btn-secondary.active span.ripple, .btn-danger:active span.ripple, .btn-danger.active span.ripple, .btn-light:active span.ripple, .btn-light.active span.ripple {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0s;
}
.btn-primary {
  background-color: rgba(25, 118, 210,1);
}
.btn-primary:hover {
  background-color: rgba(21, 101, 192,1);
}
.btn-success {
  background-color: rgba(0, 255, 140,1);
}
.btn-success:hover {
  background-color: rgba(27, 94, 32,1);
}
.btn-warning {
  background-color: rgba(237, 108, 2,1);
}
.btn-warning:hover {
  background-color: rgba(202, 91, 0,1);
}
.btn-danger {
  background-color: rgba(211, 47, 47,1);
}
.btn-danger:hover {
  background-color: rgba(188, 22, 22,1);
}
.btn-secondary {
  background-color: rgba(108, 117, 125,1);
}
.btn-secondary:hover {
  background-color: rgba(85, 91, 96,1);
}
.btn-light {
  color: rgba(33, 37, 41,1);
  background-color: rgba(248, 249, 250,1);
}
.btn-light:hover {
  background-color: rgba(221, 223, 226,1);
}
.btn-outline-primary, .btn-outline-warning, .btn-outline-success, .btn-outline-secondary, .btn-outline-danger, .btn-outline-light, .btn-text-primary, .btn-text-warning, .btn-text-success, .btn-text-secondary, .btn-text-danger, .btn-text-light {
  padding: 5px 15px;
  border: 1px solid;
  box-shadow: none;
}
.btn-outline-primary:hover, .btn-outline-warning:hover, .btn-outline-success:hover, .btn-outline-secondary:hover, .btn-outline-danger:hover, .btn-outline-light:hover, .btn-text-primary:hover, .btn-text-warning:hover, .btn-text-success:hover, .btn-text-secondary:hover, .btn-text-danger:hover, .btn-text-light:hover {
  box-shadow: none;
  border-color: currentColor;
}
.btn-outline-primary span.ripple, .btn-outline-warning span.ripple, .btn-outline-success span.ripple, .btn-outline-secondary span.ripple, .btn-outline-danger span.ripple, .btn-outline-light span.ripple, .btn-text-primary span.ripple, .btn-text-warning span.ripple, .btn-text-success span.ripple, .btn-text-secondary span.ripple, .btn-text-danger span.ripple, .btn-text-light span.ripple {
  opacity: 0.2;
}
.btn-outline-primary:active span.ripple, .btn-outline-primary.active span.ripple, .btn-outline-warning:active span.ripple, .btn-outline-warning.active span.ripple, .btn-outline-success:active span.ripple, .btn-outline-success.active span.ripple, .btn-outline-secondary:active span.ripple, .btn-outline-secondary.active span.ripple, .btn-outline-danger:active span.ripple, .btn-outline-danger.active span.ripple, .btn-outline-light:active span.ripple, .btn-outline-light.active span.ripple, .btn-text-primary:active span.ripple, .btn-text-primary.active span.ripple, .btn-text-warning:active span.ripple, .btn-text-warning.active span.ripple, .btn-text-success:active span.ripple, .btn-text-success.active span.ripple, .btn-text-secondary:active span.ripple, .btn-text-secondary.active span.ripple, .btn-text-danger:active span.ripple, .btn-text-danger.active span.ripple, .btn-text-light:active span.ripple, .btn-text-light.active span.ripple {
  background-color: currentColor !important;
  transition: background-color 0s;
}
.btn-outline-primary, .btn-text-primary {
  border-color: rgba(25, 118, 210,0.5);
  color: rgba(25, 118, 210,1);
}
.btn-outline-primary:hover, .btn-text-primary:hover {
  background-color: rgba(25, 118, 210,0.04);
}
.btn-outline-secondary, .btn-text-secondary {
  border-color: rgba(108, 117, 125,0.5);
  color: rgba(108, 117, 125,1);
}
.btn-outline-secondary:hover, .btn-text-secondary:hover {
  background-color: rgba(108, 117, 125,0.04);
}
.btn-outline-success, .btn-text-success {
  border-color: rgba(0, 255, 140,0.5);
  color: rgba(0, 255, 140,1);
}
.btn-outline-success:hover, .btn-text-success:hover {
  background-color: rgba(0, 255, 140,0.04);
}
.btn-outline-warning, .btn-text-warning {
  border-color: rgba(237, 108, 2,0.5);
  color: rgba(237, 108, 2,1);
}
.btn-outline-warning:hover, .btn-text-warning:hover {
  background-color: rgba(237, 108, 2,0.04);
}
.btn-outline-danger, .btn-text-danger {
  border-color: rgba(211, 47, 47,0.5);
  color: rgba(211, 47, 47,1);
}
.btn-outline-danger:hover, .btn-text-danger:hover {
  background-color: rgba(211, 47, 47,0.04);
}
.btn-outline-light, .btn-text-light {
  border-color: rgba(248, 249, 250,0.5);
  color: rgba(248, 249, 250,1);
}
.btn-outline-light:hover, .btn-text-light:hover {
  background-color: rgba(248, 249, 250,0.04);
}
.btn-text-primary, .btn-text-warning, .btn-text-success, .btn-text-secondary, .btn-text-danger, .btn-text-light {
  padding: 6px 8px;
  border: none;
}
.btn-text-primary:hover, .btn-text-warning:hover, .btn-text-success:hover, .btn-text-secondary:hover, .btn-text-danger:hover, .btn-text-light:hover {
  border-color: none;
}
.btn span {
  display: inherit;
}
.btn span.ripple {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 1s linear forwards;
  transition: background-color 1s ease-out;
}
@keyframes ripple {
  to {
    transform: scale(4);
  }
}
.btn span.startIcon {
  margin-left: -4px;
  margin-right: 8px;
}
.btn span.endIcon {
  margin-right: -4px;
  margin-left: 8px;
}
.btn span svg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25em;
}
.btn span svg path {
  fill: currentColor;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  background: none;
  outline: none;
  border-width: 1px;
  border-style: solid;
  color: rgba(33, 37, 41,1);
  border-color: rgba(0, 0, 0, 0.23);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:hover {
  border-color: rgba(0, 0, 0, 0.87);
}
.form-control:focus {
  border-color: rgba(25, 118, 210,1);
}
.form-control-light {
  border-color: rgba(248, 249, 250,0.5);
  color: rgba(248, 249, 250,1);
}
.form-control-light::-moz-placeholder {
  color: rgba(248, 249, 250,0.5);
}
.form-control-light::placeholder {
  color: rgba(248, 249, 250,0.5);
}
.form-control-light:hover {
  border-color: rgba(248, 249, 250,0.7);
}
.form-control-light:focus {
  border-color: rgba(248, 249, 250,1);
}

.was-validated .form-control:valid {
  border-color: rgba(0, 255, 140,1);
}
.was-validated .form-control:valid ~ .valid-feedback {
  display: block;
}
.was-validated .form-control:invalid {
  border-color: rgba(211, 47, 47,1);
}
.was-validated .form-control:invalid ~ .invalid-feedback {
  display: block;
}

.was-submitted .is-valid {
  border-color: rgba(0, 255, 140,1);
}
.was-submitted .is-valid ~ .valid-feedback {
  display: block;
}
.was-submitted .is-invalid {
  border-color: rgba(211, 47, 47,1);
}
.was-submitted .is-invalid ~ .invalid-feedback {
  display: block;
}

label {
  display: inline-block;
}

.form-label {
  margin-bottom: 0.5rem;
}

.valid-feedback,
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.valid-feedback {
  color: rgba(0, 255, 140,1);
}

.invalid-feedback {
  color: rgba(211, 47, 47,1);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgba(25, 118, 210,1);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
  background-color: #000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 998;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-collapse .content-collapse,
.navbar-collapse .dropdown-menu {
  box-shadow: none;
  border: none;
  background-color: rgba(25, 118, 210,1) !important;
  max-height: 500px;
  overflow-y: auto;
}
.navbar-collapse .content-collapse::-webkit-scrollbar,
.navbar-collapse .dropdown-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(25, 118, 210,1);
}
.navbar-collapse .content-collapse::-webkit-scrollbar-thumb,
.navbar-collapse .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #2a2a72;
}
.navbar-collapse .content-collapse::-webkit-scrollbar-thumb:hover,
.navbar-collapse .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-collapse .content-collapse::-webkit-scrollbar-thumb:active,
.navbar-collapse .dropdown-menu::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-collapse .dropdown-item {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar-collapse .dropdown-item .startIcon {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-collapse .dropdown-item:hover {
  background-color: #fff;
  color: #000;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0 auto;
}
.navbar-nav .nav-link {
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
}
.navbar form input {
  margin-right: 5px;
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-collapse {
    height: auto !important;
    display: flex !important;
    flex-basis: auto;
  }
}
.navbar-toggler .burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.navbar-toggler .burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50rem;
  transition: all 0.3s ease 0s;
}
.navbar-toggler .burger:before, .navbar-toggler .burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 50rem;
  transition: all 0.3s ease 0s;
}
.navbar-toggler .burger:before {
  top: 0;
}
.navbar-toggler .burger:after {
  bottom: 0;
}
.navbar-toggler:not(.collapsed) .burger span {
  transform: scale(0);
}
.navbar-toggler:not(.collapsed) .burger:before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) .burger:after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.dropdown {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: auto;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  position: absolute;
  z-index: 997;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}
.dropdown-menu.show {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item .startIcon {
  display: none !important;
}
.dropdown-item:hover, .dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-toggle {
  cursor: pointer;
}
.dropdown-toggle.show::after {
  transform: rotate(180deg);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transition: transform 0.3s ease;
}

.drawer {
  z-index: 999;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  max-width: 500px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.625rem 0.9375rem -0.1875rem, rgba(0, 0, 0, 0.6) 0rem 0.25rem 0.375rem -0.125rem;
  transition: transform 0.3s ease;
  height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -5px 5px 20px rgba(255, 255, 255, 0.2);
}
.drawer-left {
  left: 0;
  transform: translateX(-100%);
}
.drawer-right {
  right: 0;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
}
.drawer-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  transform: translateY(-100%);
}
.drawer-bottom {
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  transform: translateY(100%);
}
.drawer.show {
  transform: translateY(-50%) translateX(-20px);
}
.drawer-close {
  width: 30px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.drawer-close:hover path {
  fill: rgb(0, 0, 0);
}
.drawer-close svg path {
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 0.3s ease;
}
.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 998;
}
.drawer-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.zones {
  height: 100%;
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 0.5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.03rem;
  border-top: 1px solid rgb(255, 255, 255);
  position: relative;
}
.zone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.zone:hover:after {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .zone {
    font-size: 0.8rem;
  }
}
.zone-name {
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
}
.zone-depth {
  text-align: right;
  font-weight: 400;
}
.zone-epipelagic {
  color: #fff;
  height: 38px;
  height: 5%;
  background-image: linear-gradient(180deg, rgb(128, 185, 228) 26%, rgb(39, 137, 202) 26%, rgb(39, 137, 202) 82%, rgb(4, 95, 164) 82%, rgb(4, 95, 164) 60%);
}
.zone-epipelagic .zone-depth {
  margin-top: -4px;
}
.zone-mesopelagic {
  color: #fff;
  height: 80px;
  height: 10.5%;
  background-color: rgb(19, 8, 82);
}
.zone-bathypelagic {
  height: 200px;
  height: 25.3%;
  background-color: #000;
}
.zone-abyssopelagic {
  height: 135px;
  height: 19%;
  background-color: #000;
}
.zone-hadalpelagic {
  height: 310px;
  height: 40%;
  background-color: #000;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper {
  text-align: center;
  height: 100vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.swiper .title {
  text-transform: uppercase;
  position: relative;
}
.swiper .title:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: rgba(25, 118, 210,0.5);
  border-radius: 50px;
}
.swiper a {
  line-height: 0.5;
  text-transform: capitalize;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .swiper a {
    font-size: 2rem;
  }
}
.swiper a:hover {
  text-decoration-color: #fff;
}
.swiper a.link-sm {
  font-size: 1rem;
}

.swiper-custom-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}

.swiper-custom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 20px);
  max-width: calc(100% + 7rem);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.swiper-custom-angle {
  pointer-events: auto;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.swiper-custom-angle:hover:not(:active) {
  background-color: #333;
}
.swiper-custom-angle:hover:not(:active) svg path {
  fill: #fff !important;
}
.swiper-custom-angle svg {
  width: 1rem;
}
.swiper-custom-angle svg path {
  fill: #333 !important;
  transition: fill 0.3s ease;
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

/* CURSOR */
.cursorPoint {
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  background-color: #fff;
  mix-blend-mode: difference;
  top: -5px;
  left: -5px;
  /* transform: translate(-50%); */
  border-radius: 50%;
  pointer-events: none;
  z-index: 111;
  transition: all 0.2s ease-out;
}

.expand {
  background: transparent;
  border: 1px solid #000;
}

.ball {
  pointer-events: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  box-shadow: 0 0.7px 3px #fff;
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
}
body {
  background-color: #000;
}

main {
  position: relative;
}

section {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
section .container {
  height: 100%;
}

.units {
  background-image: url("../assets/images/icons/ticks.svg");
  background-size: 15px;
  background-repeat: repeat-y;
  background-position: 40px;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 3px;
  pointer-events: none;
  z-index: 996;
}
@media screen and (min-width: 768px) {
  .units {
    background-size: 30px;
  }
}
.units-list {
  text-align: right;
  display: inline-block;
}
.units-item {
  text-align: center;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.03rem;
  height: 20px;
}

.line {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}
.line svg {
  position: absolute;
  left: 5%;
  top: 0;
  height: 100vh;
  display: inline-block;
}
.line svg path {
  stroke: #fff;
}

.level {
  overflow: hidden;
  min-height: 200px;
}
.level > .content,
.level .parallax {
  display: none;
}
.level-content {
  display: none;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 1px 0 0;
  border-top-right-radius: 10px;
  padding: 5px;
  padding-bottom: 0;
}
.image-wrapper:before {
  content: "";
  position: absolute;
  top: -1px;
  right: 100%;
  width: 100vw;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), #fff, rgba(255, 255, 255, 0.2));
}

.image {
  display: inline-block;
  transform-style: preserve-3d;
  padding: 10px 30px;
  border-radius: 10px;
}
.image:hover {
  z-index: 1;
}
.image:hover img {
  transform: translateZ(100px) scale(1.2);
  filter: drop-shadow(0 10px 3px rgba(0, 0, 0, 0.3));
}
.image:hover .image-name {
  transform: translateZ(50px);
}
.image img {
  display: block;
  width: 100%;
  width: 120px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}
.image-name {
  text-align: left;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: transform 0.3s ease;
}

.sup-title {
  color: #00ff8c;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

section {
  position: relative;
}
section:before {
  font-size: 0.8rem;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #00ff8c;
  top: 0;
  left: 0;
}
section .level h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.epipelagic {
  height: 2000px;
}
.epipelagic:before {
  content: "surface";
}
.epipelagic .level-0 {
  height: 220px;
}
.epipelagic .level-1 {
  height: 160px;
}
.epipelagic .level-2 {
  height: 200px;
}
.epipelagic .level-3 {
  height: 240px;
}
.epipelagic .level-4 {
  height: 1180px;
}

.mesopelagic {
  height: 8000px;
}
.mesopelagic:before {
  content: "200m";
}
.mesopelagic .level-0 {
  height: 234px;
}
.mesopelagic .level-1 {
  height: 160px;
  height: 450px;
}

.bathypelagic {
  height: 30000px;
}
.bathypelagic:before {
  content: "1000m";
}
.bathypelagic .level-0 {
  height: 160px;
}
.bathypelagic .level-1 {
  height: 150px;
  height: 192px;
}
.bathypelagic .level-2 {
  height: 390px;
}
.bathypelagic .level-3 {
  height: 3300px;
}
.bathypelagic .level-4 {
  height: 300px;
}
.bathypelagic .level-5 {
  height: 120px;
  height: 322px;
}
.bathypelagic .level-6 {
  height: 487px;
}
.bathypelagic .level-7 {
  height: 600px;
}
.bathypelagic .level-8 {
  height: 600px;
}
.bathypelagic .level-9 {
  height: 120px;
}
.bathypelagic .level-10 {
  height: 390px;
}
.bathypelagic .level-11 {
  height: 647px;
}
.bathypelagic .level-12 {
  height: 400px;
}
.bathypelagic .level-13 {
  height: 830px;
}
.bathypelagic .level-14 {
  height: 700px;
}
.bathypelagic .level-15 {
  height: 200px;
}
.bathypelagic .level-16 {
  height: 852px;
}
.bathypelagic .level-17 {
  height: 900px;
}
.bathypelagic .level-18 {
  height: 830px;
}
.bathypelagic .level-19 {
  height: 755px;
}
.bathypelagic .level-20 {
  height: 535px;
}
.bathypelagic .level-21 {
  height: 250px;
}
.bathypelagic .level-22 {
  height: 450px;
}
.bathypelagic .level-23 {
  height: 515px;
}
.bathypelagic .level-24 {
  height: 212px;
}
.bathypelagic .level-25 {
  height: 580px;
}
.bathypelagic .level-26 {
  height: 490px;
}
.bathypelagic .level-27 {
  height: 1060px;
}
.bathypelagic .level-28 {
  height: 240px;
}
.bathypelagic .level-29 {
  height: 566px;
}
.bathypelagic .level-30 {
  height: 805px;
}
.bathypelagic .level-31 {
  height: 475px;
}
.bathypelagic .level-32 {
  height: 850px;
}
.bathypelagic .level-33 {
  height: 642px;
}
.bathypelagic .level-34 {
  height: 800px;
}
.bathypelagic .level-35 {
  height: 810px;
}
.bathypelagic .level-36 {
  height: 362px;
}
.bathypelagic .level-37 {
  height: 212px;
}
.bathypelagic .level-38 {
  height: 855px;
}
.bathypelagic .level-39 {
  height: 860px;
}
.bathypelagic .level-40 {
  height: 250px;
}
.bathypelagic .level-41 {
  height: 540px;
}
.bathypelagic .level-42 {
  height: 1434px;
}
.bathypelagic .level-43 {
  height: 553px;
}
.bathypelagic .level-44 {
  height: 325px;
}
.bathypelagic .level-45 {
  height: 96px;
}
.bathypelagic .level-46 {
  height: 1570px;
}
.bathypelagic .level-47 {
  height: 96px;
}

.abyssopelagic {
  height: 20000px;
  background-color: #000;
}
.abyssopelagic:before {
  content: "4000m";
}
.abyssopelagic .level-0 {
  height: 140px;
}
.abyssopelagic .level-1 {
  height: 2000px;
}
.abyssopelagic .level-2 {
  height: 2767px;
}
.abyssopelagic .level-3 {
  height: 2522px;
}
.abyssopelagic .level-4 {
  height: 864px;
}
.abyssopelagic .level-5 {
  height: 545px;
}
.abyssopelagic .level-6 {
  height: 1174px;
}
.abyssopelagic .level-7 {
  height: 1900px;
}
.abyssopelagic .level-8 {
  height: 1700px;
}
.abyssopelagic .level-9 {
  height: 824px;
}
.abyssopelagic .level-10 {
  height: 3168px;
}
.abyssopelagic .level-11 {
  height: 1160px;
}

.hadalpelagic {
  height: 50000px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hadalpelagic .container:first-of-type {
  flex: 1;
}
.hadalpelagic .container:last-of-type {
  flex: 0;
}
.hadalpelagic-title {
  color: #fff;
}
.hadalpelagic:before {
  content: "6000m";
}
.hadalpelagic:after {
  content: "11000m";
  left: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(50%);
  background-color: #00ff8c;
}
.hadalpelagic .level-0 {
  height: 340px;
}
.hadalpelagic .level-1 {
  height: 1667px;
}
.hadalpelagic .level-2 {
  height: 969px;
}
.hadalpelagic .level-3 {
  height: 1400px;
}
.hadalpelagic .level-4 {
  height: 169px;
}
.hadalpelagic .level-5 {
  height: 466px;
}
.hadalpelagic .level-6 {
  height: 15461px;
}
.hadalpelagic .level-7 {
  height: 4018px;
}
.hadalpelagic .level-8 {
  height: 2080px;
}
.hadalpelagic .level-9 {
  height: 22405px;
}
.hadalpelagic .level-10 {
  height: 50px;
}
.hadalpelagic .level-11 {
  height: 327px;
}
.hadalpelagic .level-12 {
  height: 400px;
}
.error {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error .container {
  text-align: center;
}
.error a {
  margin-bottom: 1rem;
}
.error .wrapper {
  max-width: 30rem;
  margin: 0 auto;
}
.error-img {
  position: relative;
  height: 0;
  padding-top: 100%;
  width: 100%;
}
.error img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.error-title {
  font-size: 5vw;
}

[data-lazy] {
  opacity: 0;
  will-change: transform, opacity;
  transition-property: opacity, transform, width !important;
  transition-timing-function: ease-in, ease-out !important;
  transition-duration: 0.7s !important;
}

[data-lazy=fade-up] {
  transform: translate3d(0, 100px, 0);
}

[data-lazy=fade-up-30] {
  transform: translate3d(0, 30px, 0);
}

[data-lazy=fade-down] {
  transform: translate3d(0, -100px, 0);
}

[data-lazy=fade-left] {
  transform: translate3d(100px, 0, 0);
}

[data-lazy=fade-right] {
  transform: translate3d(-100px, 0, 0);
}

.lazy-animate {
  opacity: 1;
  transform: translateZ(0);
}
.lazy-animate.chunk:after {
  transform: translateX(100%);
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Italic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-LightItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Black.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Thin.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ThinItalic.woff2") format("woff2"), url("../assets/fonts/Poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}/*# sourceMappingURL=index.css.map */