.hero {
    min-height: 100vh;
    //    background-color: color(primary,0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // background-color: rgb(128, 185, 228);
    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 0%;
    //     height: 50vh;
    //     width: 100%;
    //     background-color: rgb(128,185,228);
    //     mix-blend-mode: difference;
    //     // mix-blend-mode: multiply;
    //     pointer-events: none;
    // }
    
    // align-items: center;
    // align-items: flex-end;
    // text-align: center;
    //    background-image: linear-gradient(180deg, #fff -31%, #009FFD 48%, #2A2A72 140%);
    // background: linear-gradient(
    //     180deg,
    //     red 20%,
    //     green 20%,
    //     green 40%,
    //     blue 40%,
    //     blue 60%,
    //     purple 60%,
    //     purple 80%,
    //     yellow 80%,
    //     yellow 100%
    // );
    & > .container-fluid {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // display: 1;
        // display: flex;
        // flex-direction: column;
    }
    &-content {
    }
    &-title {
        text-shadow: 0 3px 3px rgba(0,0,0,0.3);
        // max-width: 900px;
        min-height: 40vh;
        font-family: Nunito;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin: 0 auto;
        // line-height: 0.9;
        width: 100%;
        .row-wrapper {
            position: relative;

        }
        .row {
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0;
            &-1 {
                color: transparent;
                color: rgba(128,185,228,1);
                -webkit-text-stroke: 2px #fff;
            }
            &-2 {
                animation: wave 4s ease-in-out infinite;
            }
        }
        @keyframes wave {
            /* start point */
            0%,
            100% {
              clip-path: polygon(
                0% 46%,
                17% 45%,
                34% 50%,
                56% 61%,
                69% 62%,
                86% 60%,
                100% 51%,
                100% 100%,
                0% 100%
              );
            }
            /* Mid point */
            50% {
              clip-path: polygon(
                0% 59%,
                16% 64%,
                33% 65%,
                52% 61%,
                70% 52%,
                85% 47%,
                100% 48%,
                100% 100%,
                0% 100%
              );
            }
          }
        span {
            display:inline-block;
            padding: 0 10px;
            // padding: 0 0.8rem 2rem;
        };
        // max-width: 1000px;
        // .chunk {
        //     background-color: color(dark);
        //     // margin: 0 3rem;
        //     // padding: 0 3%;
        //     padding: 0 15px;
        //     width: fit-content;
        //     transition: transform 0.3s ease-out;
        //     // display: block;
        //     margin-bottom: 1rem;
        //     border-radius: 10px;
        //     // overflow: hidden;
        //     display: block;
        //     position: relative;
        //     overflow: hidden;
        //     &:after {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         background: rgb(128,185,228);
        //         transition: 3s ease;
        //     }
        // }
        // .first-chunk {

        // }
        // .second-chunk {
        //     &:after {

        //         transition-delay:  .5s !important;
        //     }
        // }
    }
    &-description {
        max-width: 260px;
        text-align: center;
        margin: 0 auto;
        font-size: 1rem !important;
        font-weight: 500;
        // color: color(primary);
        @include mq(768px) {
            max-width: none;
            // margin-bottom: 2rem;
        }
  
    }
    &-bottom {
        margin-bottom: 2rem;
        // margin-bottom: 5rem;
        position: relative;
        @include mq(768px) {
            // margin-bottom: 2rem;
        }
        .image-group {
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            margin: 0 auto;
            &:hover {
                img {
                    transform: translateY(5px);
                }
            }
        }

        img {
            width: 20px;
            transition: all .3s ease;
            &:first-of-type {
                margin-bottom: -11px;
            }
        }

      
    }
    .ship {
        position: relative;
        width: 100%;
        max-width: 900px;
        display: block;
        margin-right: auto;
        display: none;
    }
    .scroll {
        pointer-events: none;
        opacity: 0;
        z-index: 1;
        position: fixed;
        bottom: 3%;
        // right:10%;
        right: 3%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        // justify-content: space-between;
        transition: opacity   .3s ease;
        @include mq(768px){
            right: 4%;
        }
        @include mq(1200px){
            right: 5%;
        }
        .distance-counter {
            color: #fff;
            position: absolute;
            top: -50px;
            // right: -10%;
            right: 0;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 5px;
            line-height: 1;
            font-size: 0.8rem;
            min-width: 80px;
            text-align: center;
            @include mq(768px){
                top: -80px;
                min-width: 110px;
                font-size: 1.3rem;
            }
        }
        .image-wrapper {
            position: absolute;
            top: 0;
            // left: calc(100% + 5px);
            height: 100%;
            width: auto;
            transform: rotateY(180deg);
            width: 100%;
            border: none;
            &:before {
                display: none;
            }
            img {
                position: absolute;
                width: 100%;
                height: 50%;
                object-fit: contain;

                &:first-of-type {
                    top: 0;
                }
                &:last-of-type {
                    bottom: 0;
                }
            }

        }
        &-indicator {
        }
        &-level-count {
            backdrop-filter: blur(100px);
            // background-color: rgba(255, 255, 255, 0.3);
            // border-radius: 10px;
            // margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            // display: flex;
            // align-items: center;
            color: #fff;
            font-weight: 400;
        }
        .level-zone-name {
            width: 100px;

            text-transform: capitalize;
        }
        &-column {
            &-1 {
                display: flex;
                // justify-content: space-between;
                // align-items: center;
                // width: 3rem;
                margin-right: 1.5rem;
                font-size: 0;
                pointer-events: auto;
                .arrow {
                    padding: 0.3rem 0.5rem;
                    cursor: pointer;

                    &:hover {
                        svg {
                            // transform: scale(1.3);
                            path {
                                fill: color(success);
                            }
                        }
                    }
                    &:active {
                        svg {
                            // transform: scale(1);
                        }
                    }
                    &-left {
                        transform: rotateZ(180deg);
                    }
                    svg {
                        width: 1.3rem;
                        transition: transform 0.3s ease;
                        path {
                            fill: color(dark);
                            transition: fill 0.3s ease;
                        }
                    }
                }
            }
            &-2 {
        backdrop-filter: blur(0.5px);

                font-size: fs(sm);
                b {
                    font-size: fs(lg);
                    transition: opacity 0.3s ease;
                    color: #fff;
                    font-weight: 400;
                }
                span {
                    // color: rgba(26, 26, 26, 0.5);
                    color: #fff;
                    font-weight: 400;
                }
            }
        }
        .btns-group {
        backdrop-filter: blur(50px);

            gap: 5px;
            pointer-events: auto;
        }
        .anchor-btn {
            text-transform: uppercase;
            opacity: 0;
            transition: opacity .3s ease;
            
            .startIcon {
                display: block;
            }
            img {
                height: 15px;
            };
        }
        &-progress {
            width: 0.3rem;
            box-shadow: 0 3px 5px rgba(255, 255, 255, 0.9);
            border-radius: 50px;
            height: 50vh;
            background-color: color(light);
            position: relative;
            margin: 0 auto 0.5rem;
            background-color: #000;
            // background-image: linear-gradient(180deg, #fff -31%, #009ffd 15%, #2a2a72 64%, #000 84%);
            background: linear-gradient(180deg, rgba(128,185,228,1) 1%, rgba(39,137,202,1) 2%, rgba(4,95,164,1) 5%, rgba(0,0,0,1) 11%);
            .layers {
                position: absolute;

                height: 100%;
                right: -6px;
                .layer {
                    position: absolute;
                    left: 10px;
                    font-size: 0.5rem;
                    width: 10px;
                    height: 1px;
                    transform: translatey(-50%);
                    height: 25px;
                    // color: #fff;
                    color: color(success);
                    display: flex;
                    align-items: center;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 7px;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.7);
                        transform: translateY(-50%) translateX(-10px);
                    }
                    @include mq(768px) {
                        font-size: 0.8rem;
                    }
                    &-epipelagic {
                        top: 2%;
                    }
                    &-mesopelagic {
                        top: 9%;
                    }
                    &-bathypelagic {
                        top: 36%;
                    }
                    &-abyssopelagic {
                        top: 55%;
                    }
                    &-hadalpelagic {
                        top: 100%;
                    }
                }
            }
            &-bar {
                height: 30%;
                width: 100%;
                // background-color: color(primary);
                border-bottom: 2px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
                // opacity: 0;
                transition: opacity 0.3s ease, height 1s ease-out;
            }
            &-images {
                .image {
                    &-1 {
                        opacity: 0;
                    }
                    &-2 {
                        opacity: 0;
                    }
                    &-3 {
                        opacity: 0;
                    }
                }
            }
            &-image {
                position: absolute;
                // width: 50px;
                // height: 50px;
                // left: -60px;
                left: -45px;
                height: 30px;
                width: 30px;
                bottom: -15px;
                transition: opacity 1s ease;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
