.hero {
    min-height: 100vh;
    //    background-color: color(primary,0.3);
    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: center;
    //    background-image: linear-gradient(180deg, #fff -31%, #009FFD 48%, #2A2A72 140%);
   
    &-content {
    }
    &-title {
        position: absolute;
        top: 35%;
        left: 30%;
        text-transform: uppercase;
        color: #fff;
        display: flex;
        font-size: 6vw;
        // transition: transform .1s linear;
        span {
            transition: transform 0.3s ease-out;
            // display: block;
        }
    }
    .ship {
        position: relative;
        width: 100%;
        max-width: 900px;
        display: block;
        margin-right: auto;
    }
    .scroll {
        z-index: 1;
        position: fixed;
        bottom: 3%;
        right: 4%;
        display: flex;
        align-items: flex-end;
        // justify-content: space-between;
        .distance-counter {
            color: #fff;
            position: absolute;
            top: -100px;
            right: -10%;
            font-size: 2rem;
        }
        .image-wrapper {
            position: absolute;
            top:0;
            left: calc(100% + 5px);
            height: calc(100% - 30px);
            width: auto;
            transform: rotateY(180deg);
            width: 100%;
            img {
                position: absolute;
                width: 100%;
                height: 50%;
                object-fit: contain;
             
                &:first-of-type {
                    top: 0;
                }
                &:last-of-type {
                    bottom: 0;
                }
            }
        }
        &-indicator {
           
        }
        &-level-count {
            color: #fff;
            font-weight: 400;
        }
        &-column {
            &-1 {
                display: flex;
                // justify-content: space-between;
                // align-items: center;
                // width: 3rem;
                margin-right: 1.5rem;
                font-size: 0;
                pointer-events: auto;
                .arrow {
                    padding: 0.3rem 0.5rem;
                    cursor: pointer;

                    &:hover {
                        svg {
                            // transform: scale(1.3);
                            path {
                                fill: color(success);
                                
                            }
                        }
                    }
                    &:active {
                        svg {
                            // transform: scale(1);
                        }
                    }
                    &-left {
                        transform: rotateZ(180deg);
                    }
                    svg {
                        width: 1.3rem;
                        transition: transform 0.3s ease;
                        path {
                            fill: color(dark);
                            transition: fill 0.3s ease;
                        }
                    }
                }
            }
            &-2 {
                font-size: fs(sm);
                b {
                    font-size: fs(lg);
                    transition: opacity 0.3s ease;
                    color: #fff;
                    font-weight: 400;
                }
                span {
                    // color: rgba(26, 26, 26, 0.5);
                    color: #fff;
                    font-weight: 400;
                }
            }
        }
        
        &-progress {
            width: 0.3rem;
            box-shadow: 0 3px 5px rgba(255, 255, 255, 0.9);
            border-radius: 50px;
            height: 50vh;
            background-color: color(light);
            position: relative;
            margin: 0 auto 0.5rem;
            background-color: #000;
            background-image: linear-gradient(180deg, #fff -31%, #009FFD 15%, #2A2A72 64%, #000 84%);
            .layers {
                position: absolute;
            
                height: 100%;
                .layer {
                    position: absolute;
                    left: 10px;
                    font-size: 0.5rem;
                    width: 10px;
                    height: 1px;
                    transform: translatey(-50%);
                    height: 25px;
                    // color: #fff;
                    color: color(success);
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 7px;
                        height: 1px;
                        background-color: rgba(255,255,255,0.7);
                        transform: translateY(-50%) translateX(-10px);
                    }
                    @include mq(768px){
                        font-size: 1rem;
                    }
                    &-epipelagic {
                        top: 2%;
                    }
                    &-mesopelagic {
                        top: 9%;
                    }
                    &-bathypelagic {
                        top: 36%;
                    }
                    &-abyssopelagic {
                        top: 55%;
                    }
                    &-hadalpelagic {
                        top: 100%;
                    }
                }
            }
            &-bar {
                height: 30%;
                width: 100%;
                // background-color: color(primary);
                border-bottom: 2px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
                // opacity: 0;
            transition: opacity .3s ease, height 1s ease-out;

            }
            &-images {
                .image {
                    &-1 {

                    }
                    &-2 {
                        opacity: 0;
                    }
                    &-3 {
                        opacity: 0;
                    }
                }
            }
            &-image {
                position: absolute;
                width: 50px;
                height: 50px;
                left: -60px;
                bottom: -15px;
                transition: opacity 1s ease;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
